body {
    background: #ab47bc linear-gradient(
            45deg,
            rgba(91, 206, 250, 0.5),
            rgba(245, 169, 184, 0.5),
            rgba(255, 255, 255, 0.5),
            rgba(245, 169, 184, 0.5),
            rgba(91, 206, 250, 0.5)
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: env(safe-area-inset-bottom);
    overflow: hidden;
}

footer {
    background: #212121;
    font-family: sans-serif;
    align-self: stretch;
    color: white;
    text-align: center;
}

.term-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100vw;
}

#term {
    font-family: monospace;
    font-size: 17px;
    max-width: 80ch;
    max-height: 58ex;
    background: #212121;
    border-radius: 10px;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    box-shadow: #212121 0 0 10px;
    overflow: hidden;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-top: max(12px, env(safe-area-inset-top));
    margin-left: max(12px, env(safe-area-inset-left));
    margin-right: max(12px, env(safe-area-inset-right));
    flex-shrink: 1;
    flex-grow: 1;
}

#term .term-head {
    background: #e0e0e0;
    height: 2ex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2ex;
    flex-shrink: 0;
}

#term .head-btn {
    border-radius: 50%;
    height: 1.25ex;
    width: 1.25ex;
    margin-left: 1ex;
}

#term .head-btn.close {
    background: #d50000;
}
#term .head-btn.maximise {
    background: #ffff00;
}
#term .head-btn.minimise {
    background: #64dd17;
}

#term .content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 2ex;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#term a {
    color: #fafafa;
}

#term a:visited {
    color: #fafafa;
}

#term a:hover {
    color: #eeeeee;
}

#term-contents {
    white-space: pre-wrap;
    word-break: break-all;
}

#term-contents .cursor {
    display: inline-block;
    width: 1ch;
    border-bottom: 2px solid #fafafa;
    animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.loltext {
    background: linear-gradient(315deg, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rm {
  background: rgba(255 255 255 / 0.7);
  padding: 1ex 2ex;
  margin: 1ex -2ex;
}
